{% macro t(key) %}{{ {
  "language": "da",
  "edit.link.title": "Rediger denne side",
  "footer.previous": "Tidligere",
  "footer.next": "Næste",
  "meta.comments": "Kommentar",
  "meta.source": "Source",
  "search.languages": "",
  "search.placeholder": "Søg",
  "search.result.placeholder": "Skriv for at søge",
  "search.result.none": "Ingen resultater",
  "search.result.one": "1 resultat",
  "search.result.other": "# resultater",
  "source.link.title": "Dokumentets kode",
  "toc.title": "Indhold"
}[key] }}{% endmacro %}
